@model IEnumerable<ShiNengShiHui.Web.Models.Administrator.Teacher.TeacherResultViewModel>

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        var sid;


        $("#delete").click(function () {
            var message = "你确定要删除勾选的记录吗?将删除老师所有的信息，删除后数据将不可恢复！";
            if ($(this).attr("message"))
                message = $(this).attr("message") + "，" + message;
            bootbox.confirm(message, function (result) {
                if (result) {
                    $("#mainForm").submit();
                }
            });
        });

        $("#BatchImportStudents").click(function () {
            $.upload({
                url: '@Url.Action("TeachersCereateOfExcel")',
                fileName: 'file',
                dataType: 'json',
                validateAntiForgeryToken:'@Html.AntiForgeryToken()',
                onSend: function () {
                    return true;
                },
                onSubmit: function () {
                    bootbox.alert("请选择导入的Excel表格，导入过程需要较长时间，请耐心等待！");
                },
                onComplate: function (jsdata) {
                    if (jsdata.result.statu == "Success") {
                        bootbox.alert(jsdata.result.msg, function () {
                            location.reload();
                        });
                    } else {
                        bootbox.alert("导入失败！" + jsdata.result.msg);
                    }
                }
            });
        });

    </script>
}

<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="fa fa-info-circle"></i> 批量导入功能可以通过Excel表格导入老师信息，为保证系统性能，单次导入老师数量不可超过500人。导入的Excel模板请点击<a class="green" href="@Url.Action("TeacherExcelDown")"> 这里下载</a>。
</div>

@using (Html.BeginForm("TeacherDelete", "Administrator", FormMethod.Post, new { id = "mainForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-heading">
            <a class="btn btn-danger" id="delete" href="javascript:;"><i class="fa fa-trash-o"></i> 删除</a>
            <a class="btn btn-success thickbox" title='添加新老师' href="@Url.Action("TeacherCreate")?TB_iframe=true&height=450&width=500"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
            <a class="btn btn-default" id="BatchImportStudents" href="javascript:;"><i class="fa fa-folder-open" aria-hidden="true"></i> 批量导入</a>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">

                <thead>
                    <tr>
                        <th style="width: 8px;">
                            <input type="checkbox" id="checkall" class="group-checkable" />
                        </th>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>生日</th>
                        <th>班级名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {

                    }
                    else
                    {
                        int i = 1;
                        foreach (ShiNengShiHui.Web.Models.Administrator.Teacher.TeacherResultViewModel s in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="checkboxes" name='sid' value='@s.Id' />
                                </td>
                                <td>@i</td>
                                <td>@s.Name</td>
                                <td>
                                    @if (s.Sex)
                                    {
                                        <span>男</span>
                                    }
                                    else
                                    {
                                        <span>女</span>
                                    }
                                </td>
                                <td>
                                    @if (s.BirthDay == null)
                                    {
                                        <span></span>
                                    }
                                    else
                                    {
                                        <span>@s.BirthDay</span>
                                    }
                                </td>
                                <td>@s.ClassName</td>

                                <td>

                                    <a class="btn btn-info thickbox" title='编辑老师资料' href="@Url.Action("TeacherEdit", new { id = s.Id })?TB_iframe=true&height=450&width=500">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        编辑
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
}

@if (Model == null)
{
}
else
{
    int pageIndex = (int)ViewData["pageIndex"];
    int pageCount = (int)ViewData["pageCount"];

    <div class="text-right">


        <ul class="pagination">
            <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=1})">首页</a></li>
            @if (pageIndex <= 5)
            {
                for (int i = 1, length = pageCount; i <= length; i++)
                {
                    if (pageIndex == i)
                    {
                        <li class="active"><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                    }
                }
            }
            else
            {
                if (pageIndex >= 3 && pageIndex <= pageCount - 2)
                {
                    for (int i = pageIndex - 2; i < pageIndex + 2; i++)
                    {
                        if (pageIndex == i)
                        {
                            <li class="active"><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                        }
                    }
                }
                else
                {
                    if (pageIndex <= 2)
                    {
                        for (int i = 1; i <= 5; i++)
                        {
                            if (pageIndex == i)
                            {
                                <li class="active"><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = pageCount - 4; i <= pageCount; i++)
                        {
                            if (pageIndex == i)
                            {
                                <li class="active"><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=i})">@i</a></li>
                            }
                        }
                    }
                }
            }
            <li><a href="@Url.Action("TeacherIndex","Administrator",new { pageIndex=pageCount })">尾页</a></li>
        </ul>

    </div>
}
