
@{
    ViewBag.Title = "UserPasswordEdit";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@model ShiNengShiHui.Web.Models.Administrator.User.UserPasswordEditModel

@if (Model == null)
{
    <h3>访问出错。请重试</h3>
}
else
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            <label class="col-xs-4 control-label text-right">用户名：</label>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.UserName)</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-4 control-label text-right">新密码：</label>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Password)</span>
            </div>
        </div>

    </div>
}