@{
    ViewBag.Title = "GradeIndex";
}

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        $("#updateButton").click(function () {
            $("#updateForm").submit();
        })

        $("#createButton").click(function () {
            $("#createForm").submit();
        })
    </script>
}

<div class="panel">
    <div class="panel-heading">
        @using (Html.BeginForm("WeekGradeCreate", "Teacher", FormMethod.Get, new { id = "createForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-2">
                @Html.DropDownList("group", ViewBag.GroupId as List<SelectListItem>, new { @class = "form-control" })
            </div>
            <a class="btn btn-success" title='添加成绩' href="javascript:;" id="createButton"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
        }

        <div class="right col-lg-8">
            @using (Html.BeginForm("WeekGradeUpdate", "Teacher", FormMethod.Get, new { id = "updateForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-3">
                    @Html.DropDownList("schoolyear", ViewBag.SchoolYear as List<SelectListItem>, new { @class = "form-control" })
                </div>

                <div class="col-lg-3">
                    @Html.DropDownList("semester", ViewBag.Semester as List<SelectListItem>, new { @class = "form-control" })
                </div>

                <div class="col-lg-2">
                    @Html.DropDownList("week", ViewBag.Week as List<SelectListItem>, new { @class = "form-control" })
                </div>

                <div class="col-lg-2">
                    @Html.DropDownList("groupId", ViewBag.GroupId as List<SelectListItem>, new { @class = "form-control" })
                </div>

                <a class="btn btn-info" title='编辑成绩' href="javascript:;" id="updateButton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编辑</a>
            }
        </div>

    </div>
</div>