@model ShiNengShiHui.AppServices.TeacherDTO.GroupWeekGradeCreateInput
@{
    ViewBag.Title = "GroupWeekCreate";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@Html.AntiForgeryToken()
<div class="portlet-body form-horizontal form-bordered form-row-stripped">

    <div class="form-group">
        <label class="col-xs-4 control-label text-right">组号：</label>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.Group, ViewBag.GroupId as List<SelectListItem>, new { @class = "form-control" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Group)</span>
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-4 control-label text-right">学年：</label>
        <div class="col-xs-6">

            @Html.DropDownListFor(m => m.SchoolYear, ViewBag.SchoolYear as List<SelectListItem>, new { @class = "form-control" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.SchoolYear)</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4 control-label text-right">学期：</label>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.Semester, ViewBag.Semester as List<SelectListItem>, new { @class = "form-control" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Semester)</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4 control-label text-right">周：</label>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.Week, ViewBag.Week as List<SelectListItem>, new { @class = "form-control" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Week)</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4 control-label text-right">是否优秀团队：</label>
        <div class="col-xs-6">
            @Html.CheckBoxFor(m => m.IsWell, new { @class = "form-control" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.IsWell)</span>
        </div>
    </div>

</div>