
@{
    ViewBag.Title = "StudentEdit";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@model ShiNengShiHui.Web.Models.Teacher.Student.StudentEditViewModel

@if (Model==null)
{
    <h3>访问出错。请重试</h3>
}
else
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

            
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                <label class="col-xs-4 control-label text-right" >姓名：</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-4 control-label text-right">性别：</label>
                <div class="col-xs-6">

                    @Html.DropDownListFor(m => m.Sex, ViewBag.Sex as List<SelectListItem>, new { @class = "form-control" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Sex)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">小组：</label>
                <div class="col-xs-6">
                    @Html.DropDownListFor(m => m.Group, ViewBag.Group as List<SelectListItem>, new { @class = "form-control" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Group)</span>
                </div>
            </div>


    </div>
}
